#BEGIN ANGE
Options +FollowSymlinks
RewriteEngine on
RewriteCond %{REQUEST_URI} ^/$
RewriteCond %{REMOTE_ADDR} !^154\.112\.9\.232
RewriteRule $ /coming-soon [R=301,L]
#END ANGE 154.112.9.232

# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>
# END WordPress"