*:focus,
*:hover,
*:active {
  outline: none !important; }

.page-section {
  padding: 0 15px 15px; }

.mega-menu * {
  font-family: "Open Sans", sans-serif; }

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  .flex-row * {
    flex-grow: 1; }

.header-2 {
  padding: 10px 0;
  border-bottom: solid 1px #eee;
  margin-bottom: 15px; }

.widget,
.bg-cover {
  background-position: center center;
  background-size: cover; }

.bg_green {
  background-color: #3cb651; }

.bg_blue {
  background-color: #13498f; }

.nom_thematique {
  font-size: 20px;
  font-weight: 700;
  margin: 15px 0; }

.photo_frame {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 200px;
  width: 100%;
  overflow: hidden;
  margin-bottom: 20px; }
  .photo_frame img {
    width: 100%; }

.slide {
  width: 100%;
  padding: 0 5px; }
  .slide img {
    width: 100%;
    height: auto; }

.discussion {
  list-style: none;
  display: block;
  -webkit-transition: all 0.3s ease-in-out; }
  .discussion a {
    display: block;
    padding: 3px 0; }
  .discussion .row {
    padding: 3px 0; }
  .discussion .row:nth-of-type(odd) {
    background-color: #f3f3f5; }

.row-item {
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  flex-wrap: wrap; }
  .row-item .col-6 {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    margin-bottom: 5px; }

.list-item.partenaire {
  padding: 15px;
  border-bottom: solid 1px #eee;
  font-size: 13px; }

@media (max-width: 991px) {
  .row-item {
    display: block; }
    .row-item .col-6 {
      display: block;
      width: 100%; } }
.compteur_commentaires {
  font-size: 12px; }

.compteur_commentaires:before {
  content: '\f075';
  font-family: "FontAwesome", sans-serif;
  display: inline-block;
  margin-right: 8px; }

.mega-menu .menu-mobile-collapse-trigger {
  background: none; }
  .mega-menu .menu-mobile-collapse-trigger span {
    background: #d6d6d6; }
.mega-menu .menu-mobile-collapse-trigger:hover {
  background: none; }
.mega-menu .menu-mobile-collapse-trigger:before,
.mega-menu .menu-mobile-collapse-trigger:after {
  background: #d6d6d6; }

.owl-carousel-2 {
  background-color: #3cb651; }
  .owl-carousel-2 .row {
    position: relative;
    height: 350px;
    overflow: hidden; }

.slide-image {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 350px;
  background-size: cover;
  background-position: center center; }

.slide-body {
  padding: 0 8px 15px;
  color: #fff; }
  .slide-body h3 {
    font-weight: 700; }
  .slide-body .slide-content {
    font-size: 13px;
    margin-bottom: 20px; }
    .slide-body .slide-content p {
      color: #fff; }
  .slide-body .slide-footer a {
    color: #fff;
    display: inline-block;
    vertical-align: middle;
    margin: 5px; }
  .slide-body .slide-footer .tt-btn {
    background-color: #fff;
    border: none;
    color: #3cb651; }

.mce-branding-powered-by {
  display: none; }

.contact-form,
.formulaire {
  padding-bottom: 15px; }
  .contact-form .form-input,
  .formulaire .form-input {
    display: block;
    width: 100%;
    border: none;
    padding: 10px 15px;
    background-color: #f8f8f8;
    margin-bottom: 15px; }
  .contact-form label,
  .formulaire label {
    color: #13498f; }
  .contact-form button[type=submit],
  .formulaire button[type=submit] {
    background-color: #3cb651;
    color: #fff;
    padding: 10px 15px;
    border-radius: 0;
    margin: 5px 0; }

.footer-logo img {
  width: 100%; }

footer {
  color: #fff; }
  footer h4 {
    font-size: 13px;
    font-weight: 700; }

.footer-menus a {
  color: #fff;
  font-size: 13px; }

.detail_discussion .auteur_discussion {
  font-weight: 700;
  margin-bottom: 20px; }
  .detail_discussion .auteur_discussion .fa {
    display: inline-block;
    vertical-align: middle;
    font-weight: normal;
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 100%;
    background-color: #d6d6d6; }
.detail_discussion .sujet {
  padding: 20px 10px 10px;
  background-color: #d6d6d6;
  position: relative;
  z-index: 100; }
  .detail_discussion .sujet .date-publication {
    font-weight: 700;
    margin-bottom: 10px;
    font-style: italic; }
  .detail_discussion .sujet .text {
    color: #393939; }
.detail_discussion .commentaire:after {
  content: '';
  display: inline-block;
  height: 30px;
  width: 20px;
  position: absolute;
  z-index: 0;
  left: 10px;
  top: -45px;
  border-bottom: solid 30px #d6d6d6;
  border-left: solid 20px  transparent;
  border-right: solid 20px transparent;
  border-top: solid 30px transparent;
  -webkit-transform: rotate(-25deg); }

.liste-reponses {
  margin: 30px 0; }
  .liste-reponses .row {
    margin-bottom: 20px; }
  .liste-reponses .nom {
    font-size: 13px;
    font-weight: 700;
    line-height: 13px;
    margin-bottom: 25px; }
  .liste-reponses .fa {
    display: inline-block;
    vertical-align: middle;
    font-weight: normal;
    margin-bottom: 5px;
    color: #fff;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 100%;
    background-color: #13498f; }
  .liste-reponses .message {
    padding: 20px 10px;
    background-color: #f0f0f0;
    font-size: 13px;
    line-height: 15px;
    margin-bottom: 5px; }
  .liste-reponses .date-publication {
    font-weight: 700;
    margin-bottom: 13px; }
  .liste-reponses .message:after {
    content: '';
    display: inline-block;
    height: 30px;
    width: 40px;
    position: absolute;
    z-index: 0;
    left: -20px;
    top: 5px;
    border-right: solid 25px #f0f0f0;
    border-left: solid 20px  transparent;
    border-bottom: solid 15px transparent;
    border-top: solid 15px transparent; }

.liste_documents {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  .liste_documents .document {
    width: 50%;
    padding: 0 15px;
    margin-bottom: 10px; }

.barre-recherche {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 30px; }
  .barre-recherche .form-input {
    width: 70%;
    padding: 0 8px; }
  .barre-recherche .btn {
    width: 30%;
    font-size: 13px; }

.logo-text {
  margin-top: 9%; }

.mega-menu .menu-mobile-collapse-trigger {
  top: 20px; }

.slogan {
  font-size: 25px;
  padding: 0 0  5px 15px;
  font-style: italic;
  margin: 20px 0; }

.slogan:before,
.slogan:after {
  content: '"';
  font-size: 40px;
  color: #c9c9c9; }

.ul-list.social .fa {
  display: inline-block;
  width: 40px;
  text-align: center; }

.tab-menu {
  border-bottom: solid 1px #ddd;
  margin-bottom: 20px; }
  .tab-menu li {
    display: inline-block;
    vertical-align: bottom;
    margin: 0 2px 5px 0; }
    .tab-menu li a {
      display: inline-block;
      padding: 10px 15px;
      color: #333; }
    .tab-menu li a:hover {
      background-color: #eee; }
  .tab-menu li.active a {
    color: #fff; }

.tab-menu.assoc li.active a {
  background-color: #3cb651; }

.tab-menu.exp li.active a {
  background-color: #13498f; }

.header-container.assoc {
  height: 300px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center; }
  .header-container.assoc .type {
    padding: 5px 10px;
    display: inline-block;
    margin: 5px 0;
    color: #fff;
    border-radius: 3px; }
  .header-container.assoc .type.assoc {
    background-color: #3cb651; }
  .header-container.assoc .type.expert {
    background-color: #13498f; }

#recherche-alphabetique {
  display: block;
  position: relative;
  margin: 20px 0;
  width: 100%; }
  #recherche-alphabetique .liste {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start; }
    #recherche-alphabetique .liste label {
      display: block;
      cursor: pointer;
      width: 30px;
      text-align: center;
      height: 30px;
      line-height: 30px;
      -webkit-transition: all 0.3s ease-in-out; }
    #recherche-alphabetique .liste label:hover,
    #recherche-alphabetique .liste label.active {
      box-shadow: 0 2px #13498f; }

#resultats-recherche {
  background-color: #fff;
  padding: 15px; }
  #resultats-recherche .compteur {
    margin-bottom: 30px;
    padding-bottom: 10px;
    border-bottom: solid #eee;
    font-style: italic; }
  #resultats-recherche .resultat {
    display: block;
    margin-bottom: 10px;
    padding-top: 10px;
    border-top: solid 1px #eee;
    font-size: 13px; }
    #resultats-recherche .resultat .title {
      font-size: 16px;
      font-weight: 700; }
    #resultats-recherche .resultat .type-element {
      font-weight: 700; }
  #resultats-recherche .resultat:hover {
    color: inherit; }
  #resultats-recherche .resultat:first-of-type {
    border: none; }
  #resultats-recherche .page-title {
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 20px;
    color: #3cb651; }
    #resultats-recherche .page-title i {
      text-transform: none;
      font-weight: normal;
      color: #333; }

[data-control], [data-content] > * {
  border: none; }

.faq [data-control] {
  padding: 15px 15px;
  background-color: #f0f0f0;
  color: #393939;
  font-weight: 700;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out; }
.faq [data-control]:hover {
  background-color: #13498f;
  color: #fff; }
.faq [data-content] {
  padding: 0 15px;
  background-color: #f8f8f8;
  margin-bottom: 10px; }

.columns {
  display: flex; }

.filter {
  background-position: center top;
  position: relative; }
  .filter * {
    position: relative;
    z-index: 1;
    color: #fff; }
  .filter h2 {
    font-weight: 700;
    line-height: 30px; }
  .filter p {
    font-size: 13px;
    line-height: 16px;
    padding-bottom: 15px; }

.type-utilisateur {
  display: block;
  margin-bottom: 20px;
  padding: 0; }
  .type-utilisateur li {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 5px; }
    .type-utilisateur li button {
      border-radius: 0;
      color: #fff; }
    .type-utilisateur li button:hover,
    .type-utilisateur li button:focus,
    .type-utilisateur li button:active {
      color: #fff; }
    .type-utilisateur li .prev {
      background-color: #3cb651; }
    .type-utilisateur li .next {
      background-color: #13498f; }

.filter:after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0; }

.formulaires form,
.single-formulaire form {
  padding: 10px 0 30px; }
  .formulaires form .form-title,
  .single-formulaire form .form-title {
    font-weight: 700;
    color: #13498f;
    margin-bottom: 50px; }
  .formulaires form .form-input,
  .single-formulaire form .form-input {
    font-size: 13px;
    display: block;
    width: 100%;
    padding: 8px 10px;
    background-color: #f8f8f8;
    border: none;
    margin: 8px 0; }
.formulaires .submit-button,
.single-formulaire .submit-button {
  background-color: #3cb651;
  color: #fff; }

.sidebar-menu .menu-item {
  border-bottom: solid 1px #f8f8f8;
  cursor: pointer; }
  .sidebar-menu .menu-item a {
    display: block;
    padding: 8px 10px; }
  .sidebar-menu .menu-item a:hover {
    background-color: #f0f0f0;
    color: #393939; }
.sidebar-menu .menu-item:hover [data-control],
.sidebar-menu .menu-item .accordion.open [data-control] {
  background-color: #f0f0f0;
  color: #393939; }

.accordion:hover [data-control],
.accordion.open [data-control] {
  background-color: #f0f0f0;
  color: #393939; }

.underline:hover {
  text-decoration: underline !important; }

@media (max-width: 1023px) {
  .underline {
    display: block;
    padding: 5px 0; } }
.header-container {
  position: relative;
  background-position: center top; }
  .header-container .accordion.btn {
    background-color: #13498f;
    padding: 0;
    text-align: left;
    position: absolute;
    right: 10px;
    bottom: 10px;
    z-index: 100;
    color: #fff;
    font-size: 13px; }
    .header-container .accordion.btn a {
      display: block;
      text-align: left;
      color: #fff;
      padding: 8px 10px; }
    .header-container .accordion.btn a:hover {
      background-color: #103e78; }
  .header-container .accordion.open [data-control] {
    background-color: #0d3262; }

.tableau .tr {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px 15px;
  background-color: #f8f8f8;
  margin-bottom: 5px;
  font-size: 13px; }
  .tableau .tr .body {
    flex-grow: 1; }
    .tableau .tr .body .expediteur {
      font-style: italic;
      color: #848484; }
  .tableau .tr .date {
    width: 250px;
    text-align: right;
    position: relative; }
.tableau .list {
  position: absolute;
  right: 10px; }
.tableau .tr:hover {
  color: inherit; }

.chat-row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 10px; }
  .chat-row .chat-bubble {
    padding: 10px 30px 10px 10px;
    margin-bottom: 5px;
    border-radius: 10px;
    background-color: #f0f0f0; }
    .chat-row .chat-bubble .date {
      text-align: right;
      font-size: 11px; }
  .chat-row .profile_pic {
    width: 180px;
    border: solid 5px #fff; }

.sidebar-widget {
  margin-bottom: 30px; }
  .sidebar-widget h5 {
    margin-bottom: 20px;
    border-bottom: solid 1px #ddd;
    padding-bottom: 5px; }

.chat-row.self {
  flex-direction: row-reverse; }
  .chat-row.self .chat-bubble {
    padding: 10px 10px 10px 30px;
    position: relative; }

.chat-contact-list {
  height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
  font-size: 13px; }
  .chat-contact-list li {
    margin-bottom: 5px;
    border-bottom: solid 1px #f0f0f0; }
  .chat-contact-list .nom {
    font-weight: 700; }

.header-container .texte-couverture {
  color: #fff;
  font-size: 13px; }

.newsletter-form {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  z-index: 0;
  padding: 0 10px;
  margin: 30px 0; }
  .newsletter-form h3 {
    color: #fff;
    font-weight: 700; }
    .newsletter-form h3 small {
      color: #fff;
      font-weight: normal; }
  .newsletter-form .row {
    position: relative;
    z-index: 1; }

.newsletter-form:after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  background: rgba(19, 73, 143, 0.9); }

#reset-password .page-section {
  min-height: 285px; }
  #reset-password .page-section .form-input {
    display: block;
    width: 100%;
    padding: 8px 10px;
    margin-bottom: 5px; }
  #reset-password .page-section button {
    background-color: #13498f;
    color: #fff;
    border: none;
    padding: 8px 15px; }

.accordion h4 {
  border-bottom: solid 1px #ddd;
  padding-bottom: 5px;
  cursor: pointer; }

.multi-choice-formulaires {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.owl-carousel-2 {
  width: 75%; }

.owl-carousel-2 + .widget {
  width: 25%;
  padding: 0; }
  .owl-carousel-2 + .widget .over-lay {
    width: 100%;
    height: 100%; }

.section-outils {
  margin-bottom: 20px; }
  .section-outils .h3 {
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #13498f;
    padding-bottom: 10px;
    border-bottom: solid 1px #eee; }
  .section-outils .groupe-outils {
    margin-bottom: 15px; }
    .section-outils .groupe-outils .h4 {
      text-transform: uppercase;
      color: #3cb651;
      font-size: 14px;
      font-weight: 700; }
    .section-outils .groupe-outils a, .section-outils .groupe-outils .item {
      display: block;
      padding: 5px;
      font-size: 13px; }
    .section-outils .groupe-outils a:nth-of-type(odd),
    .section-outils .groupe-outils .item:nth-of-type(odd) {
      background-color: #eee; }

.blog-post.article {
  padding: 10px; }

@media (max-width: 991px) {
  .columns {
    display: inherit; }

  .owl-carousel-2 {
    width: 100%; }
    .owl-carousel-2 .row {
      height: auto; }

  .owl-carousel-2 + .widget {
    width: 100%; } }
table .article a {
  display: block;
  padding: 5px 10px; }

@media (max-width: 767px) {
  .slide-image {
    min-height: 250px;
    background-position: center top; }

  .footer-logo {
    text-align: center; }
    .footer-logo img {
      width: 180px; }

  .liste_documents {
    flex-direction: column; }
    .liste_documents .document {
      padding: 0;
      width: 100%; }

  .barre-recherche {
    display: flex;
    flex-direction: column; }
    .barre-recherche .form-input {
      width: 100%;
      height: 42px; }
    .barre-recherche .btn {
      width: 40%; } }

/*# sourceMappingURL=sass.css.map */
