*:focus,
*:hover,
*:active {
  outline: none !important; }

.page-section {
  padding: 0 15px 15px; }

.mega-menu * {
  font-family: "Open Sans", sans-serif; }

.widget,
.bg-cover {
  background-position: center center;
  background-size: cover; }

.bg_green {
  background-color: #3cb651; }

.bg_blue {
  background-color: #13498f; }

.nom_thematique {
  font-size: 20px;
  font-weight: 700;
  margin: 15px 0; }

.photo_frame {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 200px;
  width: 100%;
  overflow: hidden;
  margin-bottom: 20px; }
  .photo_frame img {
    width: 100%; }

.slide {
  padding: 0 15px;
  width: 100%; }
  .slide img {
    width: 100%;
    height: auto; }

.discussion {
  list-style: none;
  display: block;
  -webkit-transition: all 0.3s ease-in-out; }
  .discussion a {
    display: block;
    padding: 3px 0; }
  .discussion .row {
    padding: 3px 0; }
  .discussion .row:nth-of-type(odd) {
    background-color: #f3f3f5; }

.compteur_commentaires {
  font-size: 12px; }

.compteur_commentaires:before {
  content: '\f075';
  font-family: "FontAwesome", sans-serif;
  display: inline-block;
  margin-right: 8px; }

.mega-menu .menu-mobile-collapse-trigger {
  background: none; }
  .mega-menu .menu-mobile-collapse-trigger span {
    background: #d6d6d6; }
.mega-menu .menu-mobile-collapse-trigger:hover {
  background: none; }
.mega-menu .menu-mobile-collapse-trigger:before,
.mega-menu .menu-mobile-collapse-trigger:after {
  background: #d6d6d6; }

.owl-carousel-2 {
  background-color: #3cb651; }
  .owl-carousel-2 .row {
    position: relative;
    height: 350px;
    overflow: hidden; }

.slide-image {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 350px;
  background-size: cover;
  background-position: center center; }

.slide-body {
  padding: 0 8px 15px;
  color: #fff; }
  .slide-body h3 {
    font-weight: 700; }
  .slide-body .slide-content {
    font-size: 13px;
    margin-bottom: 20px; }
    .slide-body .slide-content p {
      color: #fff; }
  .slide-body .slide-footer a {
    color: #fff;
    display: inline-block;
    vertical-align: middle;
    margin: 5px; }
  .slide-body .slide-footer .tt-btn {
    background-color: #fff;
    border: none;
    color: #3cb651; }

.mce-branding-powered-by {
  display: none; }

.contact-form {
  padding-bottom: 15px; }
  .contact-form .form-input {
    display: block;
    width: 100%;
    border: none;
    padding: 10px 15px;
    background-color: #f0f0f0;
    margin-bottom: 15px; }
  .contact-form label {
    color: #13498f; }
  .contact-form button[type=submit] {
    background-color: #3cb651;
    color: #fff;
    padding: 10px 15px;
    border-radius: 0;
    margin: 5px 0; }

.footer-logo img {
  width: 100%; }

footer {
  color: #fff; }
  footer h4 {
    font-size: 13px;
    font-weight: 700; }

.footer-menus a {
  color: #fff;
  font-size: 13px; }

.detail_discussion .auteur_discussion {
  font-weight: 700;
  margin-bottom: 20px; }
  .detail_discussion .auteur_discussion .fa {
    display: inline-block;
    vertical-align: middle;
    font-weight: normal;
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 100%;
    background-color: #d6d6d6; }
.detail_discussion .sujet {
  padding: 20px 10px 10px;
  background-color: #d6d6d6;
  position: relative;
  z-index: 100; }
  .detail_discussion .sujet .date-publication {
    font-weight: 700;
    margin-bottom: 10px;
    font-style: italic; }
  .detail_discussion .sujet .text {
    color: #393939; }
.detail_discussion .commentaire:after {
  content: '';
  display: inline-block;
  height: 30px;
  width: 20px;
  position: absolute;
  z-index: 0;
  left: 10px;
  top: -45px;
  border-bottom: solid 30px #d6d6d6;
  border-left: solid 20px  transparent;
  border-right: solid 20px transparent;
  border-top: solid 30px transparent;
  -webkit-transform: rotate(-25deg); }

.liste-reponses {
  margin: 30px 0; }
  .liste-reponses .row {
    margin-bottom: 20px; }
  .liste-reponses .nom {
    font-size: 13px;
    font-weight: 700;
    line-height: 13px;
    margin-bottom: 25px; }
  .liste-reponses .fa {
    display: inline-block;
    vertical-align: middle;
    font-weight: normal;
    margin-bottom: 5px;
    color: #fff;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 100%;
    background-color: #13498f; }
  .liste-reponses .message {
    padding: 20px 10px;
    background-color: #f0f0f0;
    font-size: 13px;
    line-height: 15px;
    margin-bottom: 5px; }
  .liste-reponses .date-publication {
    font-weight: 700;
    margin-bottom: 13px; }
  .liste-reponses .message:after {
    content: '';
    display: inline-block;
    height: 30px;
    width: 40px;
    position: absolute;
    z-index: 0;
    left: -20px;
    top: 5px;
    border-right: solid 25px #f0f0f0;
    border-left: solid 20px  transparent;
    border-bottom: solid 15px transparent;
    border-top: solid 15px transparent; }

.liste_documents {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  .liste_documents .document {
    width: 50%;
    padding: 0 15px;
    margin-bottom: 10px; }

.barre-recherche {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 30px; }
  .barre-recherche .form-input {
    width: 70%;
    padding: 0 8px; }
  .barre-recherche .btn {
    width: 30%;
    font-size: 13px; }

#recherche-alphabetique {
  display: block;
  position: relative;
  margin: 20px 0;
  width: 100%; }
  #recherche-alphabetique .liste {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start; }
    #recherche-alphabetique .liste label {
      display: block;
      cursor: pointer;
      width: 30px;
      text-align: center;
      height: 30px;
      line-height: 30px;
      -webkit-transition: all 0.3s ease-in-out; }
    #recherche-alphabetique .liste label:hover,
    #recherche-alphabetique .liste label.active {
      box-shadow: 0 2px #13498f; }

[data-control], [data-content] > * {
  border: none; }

.faq [data-control] {
  padding: 15px 15px;
  background-color: #f0f0f0;
  color: #393939;
  font-weight: 700;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out; }
.faq [data-control]:hover {
  background-color: #13498f;
  color: #fff; }
.faq [data-content] {
  padding: 0 15px;
  background-color: #f8f8f8;
  margin-bottom: 10px; }

.columns {
  display: flex; }

.filter {
  background-position: center center;
  position: relative; }
  .filter * {
    position: relative;
    z-index: 1;
    color: #fff; }
  .filter h2 {
    font-weight: 700;
    line-height: 30px; }
  .filter p {
    font-size: 13px;
    line-height: 16px;
    padding-bottom: 15px; }

.type-utilisateur {
  display: block;
  margin-bottom: 20px;
  padding: 0; }
  .type-utilisateur li {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 5px; }
    .type-utilisateur li button {
      border-radius: 0;
      color: #fff; }
    .type-utilisateur li button:hover,
    .type-utilisateur li button:focus,
    .type-utilisateur li button:active {
      color: #fff; }
    .type-utilisateur li .prev {
      background-color: #3cb651; }
    .type-utilisateur li .next {
      background-color: #13498f; }

.filter:after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0; }

.formulaires form,
.single-formulaire form {
  padding: 10px 0 30px; }
  .formulaires form .form-title,
  .single-formulaire form .form-title {
    font-weight: 700;
    color: #13498f;
    margin-bottom: 50px; }
  .formulaires form .form-input,
  .single-formulaire form .form-input {
    font-size: 13px;
    display: block;
    width: 100%;
    padding: 8px 10px;
    background-color: #f0f0f0;
    border: none;
    margin: 8px 0; }
.formulaires .submit-button,
.single-formulaire .submit-button {
  background-color: #3cb651;
  color: #fff; }

@media (max-width: 991px) {
  .columns {
    display: inherit; } }
@media (max-width: 767px) {
  .owl-carousel-2 .row {
    height: auto; }

  .slide-image {
    min-height: 250px;
    background-position: center top; }

  .footer-logo {
    text-align: center; }
    .footer-logo img {
      width: 180px; }

  .liste_documents {
    flex-direction: column; }
    .liste_documents .document {
      padding: 0;
      width: 100%; }

  .barre-recherche {
    display: flex;
    flex-direction: column; }
    .barre-recherche .form-input {
      width: 100%;
      height: 42px; }
    .barre-recherche .btn {
      width: 40%; } }

/*# sourceMappingURL=sass.css.map */
