$blue: #13498f;
$green: #3cb651;
$yellow: #fff719;
$light_gray: #d6d6d6;


*:focus,
*:hover,
*:active{
  outline: none !important;
}
.page-section{
  padding: 0 15px 15px;
}
.mega-menu *{
  font-family: "Open Sans", sans-serif;
}

.widget,
.bg-cover{
  background-position: center center;
  background-size: cover;
}
.bg_green{
  background-color: $green;
}
.bg_blue{
  background-color: $blue;
}
.nom_thematique{
  font-size: 20px;
  font-weight: 700;
  margin: 15px 0;

}
.photo_frame{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 200px;
  width: 100%;
  overflow: hidden;
  margin-bottom: 20px;

  img{
    width: 100%;
  }
}
.slide{
  padding: 0 15px;
  width: 100%;

  img{
    width: 100%;
    height: auto;
  }
}
.discussion{
  list-style: none;
  display: block;
  -webkit-transition: all 0.3s ease-in-out;

  a{
    display: block;
    padding: 3px 0;
  }

  .row{
    padding: 3px 0;
  }

  .row:nth-of-type(odd){
    background-color: #f3f3f5;
  }
}

.compteur_commentaires{
  font-size: 12px;
}
.compteur_commentaires:before{
  content: '\f075';
  font-family: "FontAwesome", sans-serif;
  display: inline-block;
  margin-right: 8px;
}
.mega-menu{
  .menu-mobile-collapse-trigger{
    background: none;
    span{
      background: $light_gray;
    }
  }
  .menu-mobile-collapse-trigger:hover{
    background: none;
  }
  .menu-mobile-collapse-trigger:before,
  .menu-mobile-collapse-trigger:after{
    background: $light_gray;
  }
}
.owl-carousel-2{
  background-color: $green;
  .row{
    position: relative;
    height: 350px;
    overflow: hidden;
  }
}
.slide-image{
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 350px;
  background-size: cover;
  background-position: center center;
}
.slide-body{
  padding: 0 8px 15px;
  color: #fff;

  h3{
    font-weight: 700;
  }

  .slide-content{
    font-size: 13px;
    margin-bottom: 20px;
    p{
      color: #fff;
    }
  }
  .slide-footer{
    a{
      color: #fff;
      display: inline-block;
      vertical-align: middle;
      margin: 5px;
    }
    .tt-btn{
      background-color: #fff;
      border: none;
      color: $green;
    }
  }
}
.mce-branding-powered-by{
  display: none;
}
.mce-tinymce.mce-container.mce-panel{
}

.contact-form{
  padding-bottom: 15px;
  .form-input{
    display: block;
    width: 100%;
    border: none;
    padding: 10px 15px;
    background-color: #f0f0f0;
    margin-bottom: 15px;
  }
  label{
    color: $blue;
  }
  button[type = submit]{
    background-color: $green;
    color: #fff;
    padding: 10px 15px;
    border-radius: 0;
    margin: 5px 0;
  }
}

.footer-logo{
  img{
    width: 100%;
  }
}
footer{
  color: #fff;

  h4{
    font-size: 13px;
    font-weight: 700;
  }
}
.footer-menus{
  a{
    color: #fff;
    font-size: 13px;
  }
}
.detail_discussion{
  .auteur_discussion{
    font-weight: 700;
    margin-bottom: 20px;
    .fa{
      display: inline-block;
      vertical-align: middle;
      font-weight: normal;
      color: #fff;
      width: 50px;
      height: 50px;
      line-height: 50px;
      text-align: center;
      border-radius: 100%;
      background-color: $light_gray;
    }
  }

  .sujet{
    padding: 20px 10px 10px;
    background-color: $light_gray;
    position: relative;
    z-index: 100;

    .date-publication{
      font-weight: 700;
      margin-bottom: 10px;
      font-style: italic;
    }

    .text{
      color: #393939;
    }
  }
  .commentaire:after{
    content: '';
    display: inline-block;
    height: 30px;
    width: 20px;
    position: absolute;
    z-index: 0;
    left: 10px;
    top: -45px;
    border-bottom: solid 30px $light_gray;
    border-left: solid 20px  transparent;
    border-right: solid 20px transparent;
    border-top: solid 30px transparent;
    -webkit-transform: rotate(-25deg);
  }
}
.liste-reponses{
  margin: 30px 0;

  .row{
    margin-bottom: 20px;
  }
  .nom{
    font-size: 13px;
    font-weight: 700;
    line-height: 13px;
    margin-bottom: 25px;
  }
  .fa{
    display: inline-block;
    vertical-align: middle;
    font-weight: normal;
    margin-bottom: 5px;
    color: #fff;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 100%;
    background-color: $blue;
  }
  .message{
    padding: 20px 10px;
    background-color: #f0f0f0;
    font-size: 13px;
    line-height: 15px;
    margin-bottom: 5px;
  }
  .date-publication{
    font-weight: 700;
    margin-bottom: 13px;
  }
  .message:after{
    content: '';
    display: inline-block;
    height: 30px;
    width: 40px;
    position: absolute;
    z-index: 0;
    left: -20px;
    top: 5px;
    border-right: solid 25px #f0f0f0;
    border-left: solid 20px  transparent;
    border-bottom: solid 15px transparent;
    border-top: solid 15px transparent;
  }
}

.liste_documents{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .document{
    width: 50%;
    padding: 0 15px;
    margin-bottom: 10px;
  }
}
.barre-recherche{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 30px;

  .form-input{
    width: 70%;
    padding: 0 8px;
  }
  .btn{
    width: 30%;
    font-size: 13px;
  }
}

#recherche-alphabetique{
  display: block;
  position: relative;
  margin: 20px 0;
  width: 100%;

  .liste{
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;

    label{
      display: block;
      cursor: pointer;
      width: 30px;
      text-align: center;
      height: 30px;
      line-height: 30px;
      -webkit-transition: all 0.3s ease-in-out;
    }
    label:hover,
    label.active{
      box-shadow: 0 2px $blue;
    }
  }
}

[data-control], [data-content] > *{
  border: none;
}
.faq{
  [data-control]{
    padding: 15px 15px;
    background-color: #f0f0f0;
    color: #393939;
    font-weight: 700;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
  }
  [data-control]:hover{
    background-color: $blue;
    color: #fff;
  }
  [data-content]{
    padding:  0 15px;
    background-color: #f8f8f8;
    margin-bottom: 10px;
  }
}
.columns{
  display: flex;
}
.filter{
  background-position: center center;
  position: relative;
  *{
    position: relative;
    z-index: 1;
    color: #fff;
  }
  h2{
    font-weight: 700;
    line-height: 30px;
  }
  p{
    font-size: 13px;
    line-height: 16px;
    padding-bottom: 15px;
  }
}
.type-utilisateur{
  display: block;
  margin-bottom: 20px;
  padding: 0;

  li{
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 5px;

    button{
      border-radius: 0;
      color: #fff;
    }
    button:hover,
    button:focus,
    button:active{
      color: #fff;
    }
    .prev{
      background-color: $green;
    }
    .next{
      background-color: $blue;
    }
  }
}
.filter:after{
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(#000, 0.6);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
}
.formulaires,
.single-formulaire{
  form{
    padding:  10px 0 30px;

    .form-title{
      font-weight: 700;
      color: $blue;
      margin-bottom: 50px;
    }

    .form-input{
      font-size: 13px;
      display: block;
      width: 100%;
      padding: 8px 10px;
      background-color: #f0f0f0;
      border: none;
      margin: 8px 0;
    }
  }
  .submit-button{
    background-color: $green;
    color: #fff;
  }
}

@media (max-width: 991px) {
  .columns{
    display: inherit;
  }
}


@media (max-width: 767px) {
  .owl-carousel-2{
    .row{
      height: auto;
    }
  }
  .slide-image{
    min-height: 250px;
    background-position: center top;
  }

  .footer-logo{
    text-align: center;
    img{
      width: 180px;
    }
  }

  .liste_documents{
    flex-direction: column;

    .document{
      padding: 0;
      width: 100%;
    }
  }

  .barre-recherche{
    display: flex;
    flex-direction: column;

    .form-input{
      width: 100%;
      height: 42px;
    }
    .btn{
      width: 40%;
    }
  }
}